In [1]:
# Primero verificamos que se esta ejecutando el ambiente virtual para el proyecto
!which python

/home/ygor/miniconda3/envs/pandas_manipulando_datos/bin/python

In [2]:
# Importamos la precipales bibliotecas que estaremos usando.
# En caso no est√© instaladas, las instalaremos en nuestro ambiente de proyecto
import requests
import pandas as pd

In [3]:
# Cargamos las url de donde se tomar√°n los datos
url_datos_hospedaje = 'https://cdn3.gnarususercontent.com.br/2928-transformacao-manipulacao-dados/dados_hospedagem.json'
url_datos_inmuebles_disponibles = 'https://cdn3.gnarususercontent.com.br/2928-transformacao-manipulacao-dados/moveis_disponiveis.json'

In [4]:
# Haemos la solicitud para obtener los datos.
datos_hospedaje = requests.get(url_datos_hospedaje)
datos_inmuebles = requests.get(url_datos_inmuebles_disponibles)

In [5]:
# Verificamos que la solicitud se ejecuto correctamente. C√≥digo 200  
print(datos_hospedaje.status_code)
print(datos_inmuebles.status_code)

200
200

In [6]:
# Pasamos los requests a json
datos_hospedaje = datos_hospedaje.json()
datos_inmuebles = datos_inmuebles.json()
# Verificamos que tipos de datos tenemos en los archivos
print(type(datos_hospedaje))
print(type(datos_inmuebles))

<class 'dict'>
<class 'dict'>

In [7]:
# Sabiendo que tenemos diccionarios visualizamos sus llaves 
print(datos_hospedaje.keys())
print(datos_inmuebles.keys())

dict_keys(['info_moveis'])
dict_keys(['id', 'data', 'vaga_disponivel', 'preco'])

In [8]:
# Verificamos que tipos de datos estan almacenaod en la llave
print(type(datos_hospedaje['info_moveis']))

<class 'list'>

In [9]:
# En ese caso podemos pasar la lista a un DataFrame
info_moveis = pd.DataFrame(datos_hospedaje['info_moveis'])
info_moveis.head(2)

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,[This clean and comfortable one bedroom sits r...,[Lower Queen Anne is near the Seattle Center (...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[Real Bed, Futon, Futon, Pull-out Sofa, Real B...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $...","[$110.00, $45.00, $55.00, $52.00, $85.00, $50...."
1,10.0,--,10,[Welcome to the heart of the 'Ballard Brewery ...,"[--, Capital Hill is the heart of Seattle, bor...","[2, 3, 2, 3, 3, 3, 2, 1, 2, 2, 2]","[3, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3]","[5, 6, 8, 3, 3, 5, 4, 5, 6, 7, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $...","[$350.00, $300.00, $425.00, $300.00, $285.00, ..."

In [10]:
# Al visualizar vemos que temos informaci√≥n anidada desde la columna descipcion local en adelante.
# Crearemos un lista con los nombres de las columnas
info_moveis_columnas = list(info_moveis.columns)
info_moveis_columnas

['avaliacao_geral',
 'experiencia_local',
 'max_hospedes',
 'descricao_local',
 'descricao_vizinhanca',
 'quantidade_banheiros',
 'quantidade_quartos',
 'quantidade_camas',
 'modelo_cama',
 'comodidades',
 'taxa_deposito',
 'taxa_limpeza',
 'preco']

In [11]:
# Ahora que tenemos el nombre de las columas, vamos usar la funci√≥n explode
# Para convertir esos datos anidados en lineas.
info_moveis_exploded = info_moveis.explode(info_moveis_columnas[3:])
info_moveis_exploded.head(3)

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
0,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
0,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00

In [12]:
# Con el explide conseguimos formar filas con los datos que estaban anidado.
# ahora falta resetear los index. 
info_moveis_exploded.reset_index(inplace=True, drop=True)
info_moveis_exploded.head(3)

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
1,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
2,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00

In [13]:
# En secuencia vamos a verifica los tipos de datos usando el metodo info()
info_moveis_exploded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   object
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   object
 6   quantidade_quartos    3818 non-null   object
 7   quantidade_camas      3818 non-null   object
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: object(13)
memory usage: 387.9+ KB

En el resultado anterior podemos ver que todos los tipo de datos son "object", esto puede deberse algunos factores. Pero nuestro trabajo es convertir los datos que sean de tipo numerico a numero para que pandas puedas realizar los calculos correctamente.

In [14]:
# Para comenzar el tratamiento comenzando importando la biblioteca numpy
import numpy as np

In [15]:
# Vamos a comenzar por la columna "max_hopedes"
# Asignaremos a esa columna el valor de la conversi√≥n de los datos a "np.int64" usando el metodo "astype"
info_moveis_exploded['max_hospedes'] = info_moveis_exploded['max_hospedes'].astype(np.int64)
info_moveis_exploded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   object
 6   quantidade_quartos    3818 non-null   object
 7   quantidade_camas      3818 non-null   object
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: int64(1), object(12)
memory usage: 387.9+ KB

In [16]:
# Podemos acelerar el proceso, haciendo una lista con las columnas de tipo numerico y aplicando astyp(np.int64) a todas ellas.
col_num_entero = ['quantidade_banheiros','quantidade_quartos','quantidade_camas']
info_moveis_exploded[col_num_entero]= info_moveis_exploded[col_num_entero].astype(np.int64)
info_moveis_exploded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: int64(4), object(9)
memory usage: 387.9+ KB

In [17]:
# Ahora vamos a convertir la columna "avaliacao_geral" en dato tipo "float64" usando numpy
# repetimos el proceso.
info_moveis_exploded['avaliacao_geral']= info_moveis_exploded['avaliacao_geral'].astype(np.float64)
info_moveis_exploded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: float64(1), int64(4), object(8)
memory usage: 387.9+ KB

Hasta ahora pudimos convertir, sin novedad los datos. Pero tenemos las √∫ltimas tres columnas del dataframe que tienen simbolos, para eso es necesario tratar los datos ya que no posible convertir a numero esos caracteres

In [18]:
# Crearemos una lista con las columnas de interes
eliminar_caracteres_especiales = ['taxa_deposito','taxa_limpeza','preco']
# Crear un for para ejecutar la limpieza
for col in eliminar_caracteres_especiales:
    info_moveis_exploded[col] = info_moveis_exploded[col].str.replace('[$,]','', regex=True).astype(np.float64)
print('''
üîç ¬øQu√© hace?
    Elimina los s√≠mbolos $ y las comas , de los datos.
    Convierte los valores de texto a n√∫meros flotantes (float) para poder hacer c√°lculos.
üî• Explicaci√≥n del regex '[$,]':
    Los corchetes [] indican: "cualquier car√°cter dentro".
    '[$,]' significa: "quita $ y ,".
‚úÖ Se usa regex=True para que el patr√≥n sea interpretado como una expresi√≥n regular, no como texto normal.
''')

üîç ¬øQu√© hace?
    Elimina los s√≠mbolos $ y las comas , de los datos.
    Convierte los valores de texto a n√∫meros flotantes (float) para poder hacer c√°lculos.
üî• Explicaci√≥n del regex '[$,]':
    Los corchetes [] indican: "cualquier car√°cter dentro".
    '[$,]' significa: "quita $ y ,".
‚úÖ Se usa regex=True para que el patr√≥n sea interpretado como una expresi√≥n regular, no como texto normal.

In [19]:
info_moveis_exploded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   float64
 11  taxa_limpeza          3818 non-null   float64
 12  preco                 3818 non-null   float64
dtypes: float64(4), int64(4), object(5)
memory usage: 387.9+ KB

In [27]:
#Otra opci√≥n para limpiar los caracteres de "$", ",", "." o espacios vacios es usando "applymap"
# Crearemos otra variable con los datos despues del explode para trabjar, ya que la anterior fue modificada y se encuentra actualizada

info_moveis_explode2 = info_moveis.explode(info_moveis_columnas[3:])
# Usaremos este data frame solo para ejemplificar el uso del map en las ultimas tres columnas
# Creamos la lista con las columnas
col_float64 = ['taxa_deposito','taxa_limpeza','preco']
print(
    '''
    üîç ¬øQu√© hace?

‚úÖ Elimina $ y , de las columnas en col_float64.

‚úÖ Usa .strip() para eliminar espacios en blanco.

‚úÖ Convierte los valores a tipo float64.
    '''
)

df = info_moveis_explode2[col_float64].map(lambda x: x.replace('$','').replace(',','').strip()).astype(np.float64)
df.info()

    üîç ¬øQu√© hace?

‚úÖ Elimina $ y , de las columnas en col_float64.

‚úÖ Usa .strip() para eliminar espacios en blanco.

‚úÖ Convierte los valores a tipo float64.

<class 'pandas.core.frame.DataFrame'>
Index: 3818 entries, 0 to 69
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   taxa_deposito  3818 non-null   float64
 1   taxa_limpeza   3818 non-null   float64
 2   preco          3818 non-null   float64
dtypes: float64(3)
memory usage: 119.3 KB

In [26]:
print(
'''
üî∏ Comparaci√≥n r√°pida:
‚úÖ for + str.replace()
‚û°Ô∏è Se usa cuando solo quieres limpiar algunas columnas espec√≠ficas.
‚û°Ô∏è C√≥digo muy claro y directo.

‚úÖ applymap()
‚û°Ô∏è Se usa cuando quieres aplicar la transformaci√≥n a todo el DataFrame.
‚û°Ô∏è M√°s limpio y compacto si todas las columnas tienen ese problema.
''')

üî∏ Comparaci√≥n r√°pida:
‚úÖ for + str.replace()
‚û°Ô∏è Se usa cuando solo quieres limpiar algunas columnas espec√≠ficas.
‚û°Ô∏è C√≥digo muy claro y directo.

‚úÖ applymap()
‚û°Ô∏è Se usa cuando quieres aplicar la transformaci√≥n a todo el DataFrame.
‚û°Ô∏è M√°s limpio y compacto si todas las columnas tienen ese problema.

In [20]:
df_datos_inmuebles = pd.DataFrame(datos_inmuebles)
df_datos_inmuebles.head()

    id        data  vaga_disponivel preco
0  857  2016-01-04            False  None
1  857  2016-01-05            False  None
2  857  2016-01-06            False  None
3  857  2016-01-07            False  None
4  857  2016-01-08            False  None