In [1]:
# Primero verificamos que se esta ejecutando el ambiente virtual para el proyecto
!which python

/home/ygor/miniconda3/envs/pandas_manipulando_datos/bin/python

In [2]:
# Importamos la precipales bibliotecas que estaremos usando.
# En caso no est√© instaladas, las instalaremos en nuestro ambiente de proyecto
import requests
import pandas as pd

In [3]:
# Cargamos las url de donde se tomar√°n los datos
url_datos_hospedaje = 'https://cdn3.gnarususercontent.com.br/2928-transformacao-manipulacao-dados/dados_hospedagem.json'
url_datos_inmuebles_disponibles = 'https://cdn3.gnarususercontent.com.br/2928-transformacao-manipulacao-dados/moveis_disponiveis.json'

In [4]:
# Haemos la solicitud para obtener los datos.
datos_hospedaje = requests.get(url_datos_hospedaje)
datos_inmuebles = requests.get(url_datos_inmuebles_disponibles)

In [5]:
# Verificamos que la solicitud se ejecuto correctamente. C√≥digo 200  
print(datos_hospedaje.status_code)
print(datos_inmuebles.status_code)

200
200

In [6]:
# Pasamos los requests a json
datos_hospedaje = datos_hospedaje.json()
datos_inmuebles = datos_inmuebles.json()
# Verificamos que tipos de datos tenemos en los archivos
print(type(datos_hospedaje))
print(type(datos_inmuebles))

<class 'dict'>
<class 'dict'>

In [7]:
# Sabiendo que tenemos diccionarios visualizamos sus llaves 
print(datos_hospedaje.keys())
print(datos_inmuebles.keys())

dict_keys(['info_moveis'])
dict_keys(['id', 'data', 'vaga_disponivel', 'preco'])

In [8]:
# Verificamos que tipos de datos estan almacenaod en la llave
print(type(datos_hospedaje['info_moveis']))

<class 'list'>

In [9]:
# En ese caso podemos pasar la lista a un DataFrame
info_moveis = pd.DataFrame(datos_hospedaje['info_moveis'])
info_moveis.head(2)

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,[This clean and comfortable one bedroom sits r...,[Lower Queen Anne is near the Seattle Center (...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[Real Bed, Futon, Futon, Pull-out Sofa, Real B...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $...","[$110.00, $45.00, $55.00, $52.00, $85.00, $50...."
1,10.0,--,10,[Welcome to the heart of the 'Ballard Brewery ...,"[--, Capital Hill is the heart of Seattle, bor...","[2, 3, 2, 3, 3, 3, 2, 1, 2, 2, 2]","[3, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3]","[5, 6, 8, 3, 3, 5, 4, 5, 6, 7, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $...","[$350.00, $300.00, $425.00, $300.00, $285.00, ..."

In [10]:
# Al visualizar vemos que temos informaci√≥n anidada desde la columna descipcion local en adelante.
# Crearemos un lista con los nombres de las columnas
info_moveis_columnas = list(info_moveis.columns)
info_moveis_columnas

['avaliacao_geral',
 'experiencia_local',
 'max_hospedes',
 'descricao_local',
 'descricao_vizinhanca',
 'quantidade_banheiros',
 'quantidade_quartos',
 'quantidade_camas',
 'modelo_cama',
 'comodidades',
 'taxa_deposito',
 'taxa_limpeza',
 'preco']

In [11]:
# Ahora que tenemos el nombre de las columas, vamos usar la funci√≥n explode
# Para convertir esos datos anidados en lineas.
info_moveis_exploded = info_moveis.explode(info_moveis_columnas[3:])
info_moveis_exploded.head(3)

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
0,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
0,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00

In [12]:
# Con el explide conseguimos formar filas con los datos que estaban anidado.
# ahora falta resetear los index. 
info_moveis_exploded.reset_index(inplace=True, drop=True)
info_moveis_exploded.head(3)

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
1,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
2,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00

In [13]:
# En secuencia vamos a verifica los tipos de datos usando el metodo info()
info_moveis_exploded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   object
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   object
 6   quantidade_quartos    3818 non-null   object
 7   quantidade_camas      3818 non-null   object
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: object(13)
memory usage: 387.9+ KB

En el resultado anterior podemos ver que todos los tipo de datos son "object", esto puede deberse algunos factores. Pero nuestro trabajo es convertir los datos que sean de tipo numerico a numero para que pandas puedas realizar los calculos correctamente.

In [14]:
# Para comenzar el tratamiento comenzando importando la biblioteca numpy
import numpy as np

In [15]:
# Vamos a comenzar por la columna "max_hopedes"
# Asignaremos a esa columna el valor de la conversi√≥n de los datos a "np.int64" usando el metodo "astype"
info_moveis_exploded['max_hospedes'] = info_moveis_exploded['max_hospedes'].astype(np.int64)
info_moveis_exploded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   object
 6   quantidade_quartos    3818 non-null   object
 7   quantidade_camas      3818 non-null   object
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: int64(1), object(12)
memory usage: 387.9+ KB

In [16]:
# Podemos acelerar el proceso, haciendo una lista con las columnas de tipo numerico y aplicando astyp(np.int64) a todas ellas.
col_num_entero = ['quantidade_banheiros','quantidade_quartos','quantidade_camas']
info_moveis_exploded[col_num_entero]= info_moveis_exploded[col_num_entero].astype(np.int64)
info_moveis_exploded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: int64(4), object(9)
memory usage: 387.9+ KB

In [17]:
# Ahora vamos a convertir la columna "avaliacao_geral" en dato tipo "float64" usando numpy
# repetimos el proceso.
info_moveis_exploded['avaliacao_geral']= info_moveis_exploded['avaliacao_geral'].astype(np.float64)
info_moveis_exploded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: float64(1), int64(4), object(8)
memory usage: 387.9+ KB

Hasta ahora pudimos convertir, sin novedad los datos. Pero tenemos las √∫ltimas tres columnas del dataframe que tienen simbolos, para eso es necesario tratar los datos ya que no posible convertir a numero esos caracteres

In [18]:
# Crearemos una lista con las columnas de interes
eliminar_caracteres_especiales = ['taxa_deposito','taxa_limpeza','preco']
# Crear un for para ejecutar la limpieza
for col in eliminar_caracteres_especiales:
    info_moveis_exploded[col] = info_moveis_exploded[col].str.replace('[$,]','', regex=True).astype(np.float64)
print('''
üîç ¬øQu√© hace?
    Elimina los s√≠mbolos $ y las comas , de los datos.
    Convierte los valores de texto a n√∫meros flotantes (float) para poder hacer c√°lculos.
üî• Explicaci√≥n del regex '[$,]':
    Los corchetes [] indican: "cualquier car√°cter dentro".
    '[$,]' significa: "quita $ y ,".
‚úÖ Se usa regex=True para que el patr√≥n sea interpretado como una expresi√≥n regular, no como texto normal.
''')

üîç ¬øQu√© hace?
    Elimina los s√≠mbolos $ y las comas , de los datos.
    Convierte los valores de texto a n√∫meros flotantes (float) para poder hacer c√°lculos.
üî• Explicaci√≥n del regex '[$,]':
    Los corchetes [] indican: "cualquier car√°cter dentro".
    '[$,]' significa: "quita $ y ,".
‚úÖ Se usa regex=True para que el patr√≥n sea interpretado como una expresi√≥n regular, no como texto normal.

In [19]:
info_moveis_exploded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   float64
 11  taxa_limpeza          3818 non-null   float64
 12  preco                 3818 non-null   float64
dtypes: float64(4), int64(4), object(5)
memory usage: 387.9+ KB

In [20]:
#Otra opci√≥n para limpiar los caracteres de "$", ",", "." o espacios vacios es usando "applymap"
# Crearemos otra variable con los datos despues del explode para trabjar, ya que la anterior fue modificada y se encuentra actualizada

info_moveis_explode2 = info_moveis.explode(info_moveis_columnas[3:])
# Usaremos este data frame solo para ejemplificar el uso del map en las ultimas tres columnas
# Creamos la lista con las columnas
col_float64 = ['taxa_deposito','taxa_limpeza','preco']
print(
    '''
    üîç ¬øQu√© hace?

‚úÖ Elimina $ y , de las columnas en col_float64.

‚úÖ Usa .strip() para eliminar espacios en blanco.

‚úÖ Convierte los valores a tipo float64.
    '''
)

df = info_moveis_explode2[col_float64].map(lambda x: x.replace('$','').replace(',','').strip()).astype(np.float64)
df.info()

    üîç ¬øQu√© hace?

‚úÖ Elimina $ y , de las columnas en col_float64.

‚úÖ Usa .strip() para eliminar espacios en blanco.

‚úÖ Convierte los valores a tipo float64.

<class 'pandas.core.frame.DataFrame'>
Index: 3818 entries, 0 to 69
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   taxa_deposito  3818 non-null   float64
 1   taxa_limpeza   3818 non-null   float64
 2   preco          3818 non-null   float64
dtypes: float64(3)
memory usage: 119.3 KB

In [21]:
print(
'''
üî∏ Comparaci√≥n r√°pida:
‚úÖ for + str.replace()
‚û°Ô∏è Se usa cuando solo quieres limpiar algunas columnas espec√≠ficas.
‚û°Ô∏è C√≥digo muy claro y directo.

‚úÖ applymap()
‚û°Ô∏è Se usa cuando quieres aplicar la transformaci√≥n a todo el DataFrame.
‚û°Ô∏è M√°s limpio y compacto si todas las columnas tienen ese problema.
''')

üî∏ Comparaci√≥n r√°pida:
‚úÖ for + str.replace()
‚û°Ô∏è Se usa cuando solo quieres limpiar algunas columnas espec√≠ficas.
‚û°Ô∏è C√≥digo muy claro y directo.

‚úÖ applymap()
‚û°Ô∏è Se usa cuando quieres aplicar la transformaci√≥n a todo el DataFrame.
‚û°Ô∏è M√°s limpio y compacto si todas las columnas tienen ese problema.

#### Tokenizar

Para hacer el estudio de los servicios ofrecidos por cada inmuebles realizaremos la tokenizaci√≥n de algunas columnas de interes removiendo los caracteres que no ofrecen tanta informaci√≥n, por ejempplo un ',', '.', '/', etc. Los toquens pueden ser palabras, silabas, letras, frases, todo depende del tipo de aplicaci√≥n y su interes.

- Tokeniazaci√≥n simple (Palabras), es decir que cada palabra ser√° un token.
- Foco en la columna "Descripci√≥n Local"

1. Paso (Padronizar el texto a letras minusculas)

In [22]:
# Vamos a visualizar el contenido de la columna de interes
info_moveis_exploded['descricao_local'].head()

0    This clean and comfortable one bedroom sits ri...
1    Our century old Upper Queen Anne house is loca...
2    Cozy room in two-bedroom apartment along the l...
3    Very lovely and cozy room for one. Convenientl...
4    The ‚ÄúStudio at Mibbett Hollow' is in a Beautif...
Name: descricao_local, dtype: object

In [23]:
# Usando el lower del metodo str vamos a parasar el texto a minusculas
info_moveis_exploded['descricao_local'] = info_moveis_exploded['descricao_local'].str.lower()
info_moveis_exploded['descricao_local'].head()

0    this clean and comfortable one bedroom sits ri...
1    our century old upper queen anne house is loca...
2    cozy room in two-bedroom apartment along the l...
3    very lovely and cozy room for one. convenientl...
4    the ‚Äústudio at mibbett hollow' is in a beautif...
Name: descricao_local, dtype: object

2. Paso (Eliminar simbolos y caracteres que no aportan informaci√≥n relevante)

   Para hacer una selececci√≥n de solo los caracteres que nos interesan, usaremos regex del metodo str.
   > El acento circunflexo indica los caracteres que no seran considerados para eliminar. La expresi√≥n regex se escribe dentro de corchetes [], la barra invertida funciona como escape, indicando el valor literal, por ejemplo
   - Para no eliminar las letras de la 'a' hasta la 'z' en minuscula ser√≠a [^a-z]
   - Tampoco queremos elimnar las letras en mayusculas A-Z [^a-zA-Z]
   - Para tompoco eliminar numeros agregaremos 0-9 en la expresi√≥n [^a-zA-Z0-9]
   - Adem√°s tampoco queremos eliminar los simbolos "'" y "-" con los que forman palabras en ingl√©s [^a-zA-Z0-9\-\']
   - Tambi√©n debemos agregar el parametro regex=True despues de la expresi√≥n.
     > Observaci√≥n sobre la barra invertida y el gui√≥n, si el gui√≥n el colocado al final o al principio de la expresi√≥n, no requiere la barra invertida.

In [26]:
info_moveis_exploded['descricao_local'] = info_moveis_exploded['descricao_local'].str.replace('[^a-zA-Z0-9\'-]',' ',regex=True)
info_moveis_exploded['descricao_local'][3169]
# Nota: En nuestro caso no era necesario aplicar A-Z en la empresi√≥n porque ya habiamos convertido el texto a minusculas.

"built  run and supported by seattle tech and start up veterans  grokhome's focus is to create a supportive environment for smart people working on interesting projects  start ups and more  this listing is an upper bunk  in a 2-person shared room   note  this fall  there will be major renovations happening on one kitchen and bathroom at a time  there will always be two other working kitchens and two working bathrooms in the house  we'll work to minimize the impact these renovations have on your stay    this listing is only available to those working in the tech science space  live in a hacker house  and immerse yourself in the seattle tech scene  you can expect to be surrounded by smart people solving big problems or working on something fun  we have frequent demo nights  and love when our guests share something they are passionate about  if you're new to the city  our deep ties to the seattle tech scene can help you get involved  expand your network  develop your ideas  and learn somet"

In [27]:
info_moveis_exploded['descricao_local'][4]

"the  studio at mibbett hollow' is in a beautiful houseboat on quiet the ship's canal at the famous fishermen's terminal near the ballard locks  close to bus to all attractions  downtown by bus  a private furnished studio with single bunk  kitchenette private bathroom  drawers  cupboards  cabinets and closet with cedar lining  private deck  wifi  utensils  ideal for a single person   single bed only   princess the cat lived in the houseboat so no folks with allergies  no smoking  no pets  close to a plutera of various ethnic restaurant choices within walking distance in ballard - bus to fremont    the center of the universe  nearest bus stop west emerson and 21 st west near the burke gilman trail  walking and biking experience living on the water in one of seattle's famous houseboats   "

Aqu√≠, est√°s utilizando str.replace() para eliminar guiones (-) espec√≠ficos de tu columna descricao_local. La clave est√° en la expresi√≥n regular '?(?<!\w)-(?!\w)':

\w: En expresiones regulares, \w es una clase de caracteres predefinida que coincide con cualquier car√°cter de "palabra". Esto incluye letras (a-z, A-Z), n√∫meros (0-9) y el guion bajo (_).
-: Esto coincide con un guion literal.
(?<!\w): Esta es una aserci√≥n de lookbehind negativa. Significa "coincide con el guion solo si NO est√° precedido por un car√°cter de palabra (\w)".
(?!\w): Esta es una aserci√≥n de lookahead negativa. Significa "coincide con el guion solo si NO est√° seguido por un car√°cter de palabra (\w)".
Combinadas, estas aserciones de lookahead y lookbehind hacen que la expresi√≥n regular '(?<!\w)-(?!\w)' busque un guion que no tenga un car√°cter de palabra ni a su izquierda ni a su derecha.

¬øPara qu√© sirve esto?

Es una forma inteligente de eliminar guiones que act√∫an como separadores independientes o "ruido", pero mantener los guiones que forman parte de palabras compuestas (como en "well-being" o "self-starter").

Por ejemplo:

"casa-bonita" -> El guion est√° entre dos caracteres \w ('a' y 'b'), por lo tanto, no se eliminar√°.
"precio - a combinar" -> El guion est√° rodeado de espacios (que no son \w), por lo tanto, se eliminar√°, resultando en "precio a combinar".
"info_ - _extra" -> El guion est√° rodeado de guiones bajos (que son \w), por lo tanto, no se eliminar√°.
La Raz√≥n de la Advertencia SyntaxWarning: invalid escape sequence '\w'
El problema es que en Python, las cadenas de texto normales ('...' o "...") interpretan la barra invertida \ como el inicio de una secuencia de escape para caracteres especiales como \n (nueva l√≠nea), \t (tabulador), etc.

Cuando Python ve \w dentro de una cadena normal, intenta interpretarlo como una secuencia de escape literal. Como \w no es una secuencia de escape reconocida por Python para cadenas normales (no hay un car√°cter espec√≠fico 'w' que se escape), te emite una SyntaxWarning para avisarte. Sin embargo, cuando esta cadena se pasa a un motor de expresiones regulares (como el que usa str.replace con regex=True), el motor de regex s√≠ sabe lo que significa \w.

In [35]:
info_moveis_exploded['descricao_local'] = info_moveis_exploded['descricao_local'].str.replace(r'(?<!\w)-(?!\w)','', regex=True)
info_moveis_exploded['descricao_local'][4]
# Nota
# Para definir una cadena raw string, simplemente pon una r (de "raw") antes de la comilla de apertura:
#Al usar r'(?<!\w)-(?!\w)':
# Le indicas a Python que no interprete las barras invertidas dentro de esa cadena como secuencias de escape.
# En su lugar, la cadena se pasa "tal cual" al motor de expresiones regulares, que luego interpreta correctamente \w como el car√°cter de palabra.
#Esta es la soluci√≥n m√°s limpia y idiom√°tica en Python para trabajar con expresiones regulares.

"the  studio at mibbett hollow' is in a beautiful houseboat on quiet the ship's canal at the famous fishermen's terminal near the ballard locks  close to bus to all attractions  downtown by bus  a private furnished studio with single bunk  kitchenette private bathroom  drawers  cupboards  cabinets and closet with cedar lining  private deck  wifi  utensils  ideal for a single person   single bed only   princess the cat lived in the houseboat so no folks with allergies  no smoking  no pets  close to a plutera of various ethnic restaurant choices within walking distance in ballard   bus to fremont    the center of the universe  nearest bus stop west emerson and 21 st west near the burke gilman trail  walking and biking experience living on the water in one of seattle's famous houseboats   "

3. Paso (Separar los elementos en una lista) usando split

In [36]:
info_moveis_exploded['descricao_local'] = info_moveis_exploded['descricao_local'].str.split()
info_moveis_exploded['descricao_local']

0       [this, clean, and, comfortable, one, bedroom, ...
1       [our, century, old, upper, queen, anne, house,...
2       [cozy, room, in, two-bedroom, apartment, along...
3       [very, lovely, and, cozy, room, for, one, conv...
4       [the, studio, at, mibbett, hollow', is, in, a,...
                              ...
3813    [beautiful, craftsman, home, in, the, historic...
3814    [located, in, a, very, easily, accessible, are...
3815    [this, home, is, fully, furnished, and, availa...
3816    [this, business-themed, modern, home, features...
3817    [this, welcoming, home, is, in, the, quiet, re...
Name: descricao_local, Length: 3818, dtype: object

### Ahora trataremos la columna "comodidades"

In [94]:
comodidades = info_moveis_exploded['comodidades']

In [95]:
comodidades = comodidades.str.replace('[{}"]',"",regex=True).str.lower()
comodidades = comodidades.str.split(',')

In [96]:
comodidades

0       [internet, wireless internet, kitchen, free pa...
1       [tv, internet, wireless internet, kitchen, fre...
2       [tv, internet, wireless internet, kitchen, fre...
3       [internet, wireless internet, kitchen, free pa...
4       [wireless internet, kitchen, free parking on p...
                              ...
3813    [tv, cable tv, internet, wireless internet, ai...
3814    [tv, cable tv, internet, wireless internet, ki...
3815    [tv, cable tv, internet, wireless internet, ai...
3816    [tv, cable tv, internet, wireless internet, ai...
3817    [tv, internet, wireless internet, kitchen, fre...
Name: comodidades, Length: 3818, dtype: object