>Projeto desafio 2: administração de condomínios - dados_locacao_imoveis.json.

In [1]:
url2 = 'https://cdn3.gnarususercontent.com.br/2928-transformacao-manipulacao-dados/dados_locacao_imoveis.json'

Projeto desafio 2: administração de condomínios
A administração de condomínios é uma tarefa que requer muita atenção e organização. Entre as diversas responsabilidades da gestão está o recebimento dos aluguéis dos locatários. Para garantir uma boa saúde financeira do empreendimento, é fundamental que esses pagamentos sejam feitos de forma regular e pontual. No entanto, sabemos que nem sempre isso acontece.

Pensando nisso, proponho um desafio de tratamento de dados com o objetivo de analisar o atraso no pagamento de aluguéis no condomínio de alguns moradores. Disponibilizo a base de dados dados_locacao_imoveis.json, que contém informações sobre o apartamento dos locatários, o dia acordado para o pagamento do aluguel, o dia da efetivação do pagamento de aluguel e o valor do aluguel.

Com essas informações, o desafio do projeto 2: administração de condomínios será similar ao desafio do projeto 1, abrir a base de dados com Pandas e aplicar o json_normalize no DataFrame.

In [2]:
import requests
import pandas as pd

In [3]:
locacao_json = requests.get(url2)
locacao_json.status_code

200

In [4]:
locacao_json = locacao_json.json()
type(locacao_json)

dict

In [5]:
print(locacao_json.keys())
print(locacao_json.items())

dict_keys(['dados_locacao'])
dict_items([('dados_locacao', [{'apartamento': 'A101 (blocoAP)', 'datas_combinadas_pagamento': ['01/06/2022', '01/07/2022'], 'datas_de_pagamento': ['05/06/2022', '03/07/2022'], 'valor_aluguel': ['$ 1000,0 reais', '$ 2500,0 reais']}, {'apartamento': 'A102 (blocoAP)', 'datas_combinadas_pagamento': ['02/06/2022', '02/07/2022'], 'datas_de_pagamento': ['02/06/2022', '06/07/2022'], 'valor_aluguel': ['$ 1100,0 reais', '$ 2600,0 reais']}, {'apartamento': 'B201 (blocoAP)', 'datas_combinadas_pagamento': ['03/06/2022', '03/07/2022'], 'datas_de_pagamento': ['07/06/2022', '03/07/2022'], 'valor_aluguel': ['$ 1200,0 reais', '$ 2700,0 reais']}, {'apartamento': 'B202 (blocoAP)', 'datas_combinadas_pagamento': ['04/06/2022', '04/07/2022'], 'datas_de_pagamento': ['07/06/2022', '05/07/2022'], 'valor_aluguel': ['$ 1300,0 reais', '$ 2800,0 reais']}, {'apartamento': 'C301 (blocoAP)', 'datas_combinadas_pagamento': ['05/06/2022', '05/07/2022'], 'datas_de_pagamento': ['10/06/2022', '09/07/2022'], 'valor_aluguel': ['$ 1400,0 reais', '$ 2900,0 reais']}, {'apartamento': 'C302 (blocoAP)', 'datas_combinadas_pagamento': ['06/06/2022', '06/07/2022'], 'datas_de_pagamento': ['08/06/2022', '12/07/2022'], 'valor_aluguel': ['$ 1500,0 reais', '$ 1200,0 reais']}, {'apartamento': 'D401 (blocoAP)', 'datas_combinadas_pagamento': ['07/06/2022', '07/07/2022'], 'datas_de_pagamento': ['07/06/2022', '09/07/2022'], 'valor_aluguel': ['$ 1600,0 reais', '$ 1300,0 reais']}, {'apartamento': 'D402 (blocoAP)', 'datas_combinadas_pagamento': ['08/06/2022', '08/07/2022'], 'datas_de_pagamento': ['10/06/2022', '14/07/2022'], 'valor_aluguel': ['$ 1700,0 reais', '$ 1400,0 reais']}, {'apartamento': 'E501 (blocoAP)', 'datas_combinadas_pagamento': ['09/06/2022', '09/07/2022'], 'datas_de_pagamento': ['10/06/2022', '09/07/2022'], 'valor_aluguel': ['$ 1800,0 reais', '$ 1500,0 reais']}, {'apartamento': 'E502 (blocoAP)', 'datas_combinadas_pagamento': ['10/06/2022', '10/07/2022'], 'datas_de_pagamento': ['16/06/2022', '12/07/2022'], 'valor_aluguel': ['$ 1900,0 reais', '$ 1600,0 reais']}, {'apartamento': 'F601 (blocoAP)', 'datas_combinadas_pagamento': ['11/06/2022', '11/07/2022'], 'datas_de_pagamento': ['17/06/2022', '13/07/2022'], 'valor_aluguel': ['$ 2000,0 reais', '$ 1000,0 reais']}, {'apartamento': 'F602 (blocoAP)', 'datas_combinadas_pagamento': ['12/06/2022', '12/07/2022'], 'datas_de_pagamento': ['15/06/2022', '12/07/2022'], 'valor_aluguel': ['$ 2100,0 reais', '$ 1100,0 reais']}, {'apartamento': 'G701 (blocoAP)', 'datas_combinadas_pagamento': ['13/06/2022', '13/07/2022'], 'datas_de_pagamento': ['19/06/2022', '20/07/2022'], 'valor_aluguel': ['$ 2200,0 reais', '$ 1200,0 reais']}, {'apartamento': 'G702 (blocoAP)', 'datas_combinadas_pagamento': ['14/06/2022', '14/07/2022'], 'datas_de_pagamento': ['15/06/2022', '17/07/2022'], 'valor_aluguel': ['$ 2300,0 reais', '$ 2100,0 reais']}, {'apartamento': 'H801 (blocoAP)', 'datas_combinadas_pagamento': ['15/06/2022', '15/07/2022'], 'datas_de_pagamento': ['18/06/2022', '16/07/2022'], 'valor_aluguel': ['$ 2400,0 reais', '$ 2200,0 reais']}])])

In [6]:
locacao = pd.json_normalize(locacao_json['dados_locacao'])
locacao.head(2)

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),"[01/06/2022, 01/07/2022]","[05/06/2022, 03/07/2022]","[$ 1000,0 reais, $ 2500,0 reais]"
1,A102 (blocoAP),"[02/06/2022, 02/07/2022]","[02/06/2022, 06/07/2022]","[$ 1100,0 reais, $ 2600,0 reais]"

In [7]:
df2 = locacao.explode(['datas_combinadas_pagamento', 'datas_de_pagamento','valor_aluguel']).reset_index(drop=True)
df2

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),01/06/2022,05/06/2022,"$ 1000,0 reais"
1,A101 (blocoAP),01/07/2022,03/07/2022,"$ 2500,0 reais"
2,A102 (blocoAP),02/06/2022,02/06/2022,"$ 1100,0 reais"
3,A102 (blocoAP),02/07/2022,06/07/2022,"$ 2600,0 reais"
4,B201 (blocoAP),03/06/2022,07/06/2022,"$ 1200,0 reais"
5,B201 (blocoAP),03/07/2022,03/07/2022,"$ 2700,0 reais"
6,B202 (blocoAP),04/06/2022,07/06/2022,"$ 1300,0 reais"
7,B202 (blocoAP),04/07/2022,05/07/2022,"$ 2800,0 reais"
8,C301 (blocoAP),05/06/2022,10/06/2022,"$ 1400,0 reais"
9,C301 (blocoAP),05/07/2022,09/07/2022,"$ 2900,0 reais"
10,C302 (blocoAP),06/06/2022,08/06/2022,"$ 1500,0 reais"
11,C302 (blocoAP),06/07/2022,12/07/2022,"$ 1200,0 reais"
12,D401 (blocoAP),07/06/2022,07/06/2022,"$ 1600,0 reais"
13,D401 (blocoAP),07/07/2022,09/07/2022,"$ 1300,0 reais"
14,D402 (blocoAP),08/06/2022,10/06/2022,"$ 1700,0 reais"
15,D402 (blocoAP),08/07/2022,14/07/2022,"$ 1400,0 reais"
16,E501 (blocoAP),09/06/2022,10/06/2022,"$ 1800,0 reais"
17,E501 (blocoAP),09/07/2022,09/07/2022,"$ 1500,0 reais"
18,E502 (blocoAP),10/06/2022,16/06/2022,"$ 1900,0 reais"
19,E502 (blocoAP),10/07/2022,12/07/2022,"$ 1600,0 reais"
20,F601 (blocoAP),11/06/2022,17/06/2022,"$ 2000,0 reais"
21,F601 (blocoAP),11/07/2022,13/07/2022,"$ 1000,0 reais"
22,F602 (blocoAP),12/06/2022,15/06/2022,"$ 2100,0 reais"
23,F602 (blocoAP),12/07/2022,12/07/2022,"$ 1100,0 reais"
24,G701 (blocoAP),13/06/2022,19/06/2022,"$ 2200,0 reais"
25,G701 (blocoAP),13/07/2022,20/07/2022,"$ 1200,0 reais"
26,G702 (blocoAP),14/06/2022,15/06/2022,"$ 2300,0 reais"
27,G702 (blocoAP),14/07/2022,17/07/2022,"$ 2100,0 reais"
28,H801 (blocoAP),15/06/2022,18/06/2022,"$ 2400,0 reais"
29,H801 (blocoAP),15/07/2022,16/07/2022,"$ 2200,0 reais"

### Etapa 2

#### Desafio do projeto 2 está listado em algumas metas:

>Remover os dados em listas dentro do DataFrame;

>Verificar os tipos de dados;

>Identificar colunas numéricas;

>Transformar a coluna numérica para o tipo numérico.

In [8]:
# Impotando numpy
import numpy as np

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     object
 2   datas_de_pagamento          30 non-null     object
 3   valor_aluguel               30 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

In [10]:
df2['valor_aluguel'] = df2['valor_aluguel'].str.replace('$','').str.replace(',','.').str.replace('reais','').astype(np.float64)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     object
 2   datas_de_pagamento          30 non-null     object
 3   valor_aluguel               30 non-null     float64
dtypes: float64(1), object(3)
memory usage: 1.1+ KB

In [11]:
df2.head()

      apartamento datas_combinadas_pagamento datas_de_pagamento  valor_aluguel
0  A101 (blocoAP)                 01/06/2022         05/06/2022         1000.0
1  A101 (blocoAP)                 01/07/2022         03/07/2022         2500.0
2  A102 (blocoAP)                 02/06/2022         02/06/2022         1100.0
3  A102 (blocoAP)                 02/07/2022         06/07/2022         2600.0
4  B201 (blocoAP)                 03/06/2022         07/06/2022         1200.0